<br><br><br><br><br><br>
<div class="container justify-content-center align-items-center">
    <div class="row center justify-content-center align-items-center" *ngFor="let obj of matrice; let i = index;">
      <div class="col-sm-auto" *ngFor="let keyValues of obj; let j = index;">
        <div (click)="Clique(keyValues,i,j)" id="{{i}}-{{j}}" class="Carte"></div>
      </div>
    </div>
    <!-- <ng-container class="milieuGauche" *ngIf="tourJoueur==false; else elseJoueur2">
      
    </ng-container>
    <ng-template class="milieuGauche" #elseJoueur2>
      
    </ng-template> -->
    <div *ngIf="etatPartie; then ifJoueur1 else elseJoueur2"></div>
    <ng-template #ifJoueur1>
      <div class="milieuGauche">C'est le tour du <br>Joueur 2 (JAUNE)</div>
    </ng-template>
    <ng-template #elseJoueur2>
      <div class="milieuGauche">C'est le tour du <br>Joueur 1 (ROUGE)</div>
    </ng-template>
</div>